@font-face {
  font-family: 'joy';
  src: url('/src/fonts/Joyful.otf') format('opentype');
  /* You can add more font properties if needed */
}

body {
  cursor: url('/src/images/burgerGif.gif'), auto;
}


.App-logo {
  height: 50vmin;
  width: 50vmin;
  /* padding-bottom: 15px; */

}



html, .background {
  /* background-color: grey; */
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  height: 100%;
  /* cursor: url('/src/images/tiny.png'), auto; */

}

/* .custom-cursor {
  cursor: url('/src/images/burger.png'), auto;
} */


.background {
  /* background-color: grey; */
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("/src/images/driving.gif");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url('/src/images/burgerGif.gif'), auto;
}

.headerBox {
  justify-content: center;
  text-align: center;
  font-family: 'joy';
  font-size: 9vh;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-decoration: none; /* remove underline */
}


.access {
  justify-content: center;
  text-align: center;
  font-family: 'joy';
  font-size: 9vh;
  color: purple;
  background-color: aqua;
  margin-bottom: 10px;
  text-decoration: none; /* remove underline */
}
a {
  text-decoration: none; /* remove underline */
  color: black; /* set default color */
}

a:hover {
  color: red; /* change color when hovered */
}

.slogan {
  text-align: center;
  align-items: center;
  align-content: center;
  font-style: italic;
  font-family: 'Bebas Neue';
  color: white;
  text-shadow: 3px 3px black;
}


.square {
  display: flex;
  width: 65%;
  margin: 0 auto; /* Center horizontally */
  /* margin-bottom: 2%; */
  align-items: center;
  background-color: green;
  border-color: black;
  border: 20px;
  border: 2px solid black;
  justify-content: center;
  
}

.warningSub {
  font-weight: 700;
  font-size: 2vh;
  color: yellow;

}

.warning {
  font-weight: 700;
  font-size: 9vh;
  color: yellow;
  font-family: 'joy';

  animation: flashing 1s infinite;
  text-align: center;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textMain {
  margin: auto;
  /* font-family: 'Bebas Neue'; */
  padding: 10px;
  font-size: 15px;
  color: whitesmoke;
  /* font-family: 'main-text' */
}



.floating-img {
  position: fixed;
  top: 0;
}

.top-left {
  left: 0;
}

.top-right {
  right: 0;
}

.falling-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: fallAnimation 4s linear infinite;
}

@keyframes fallAnimation {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: .5;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-image {
  animation: rotate 9s linear infinite;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the grid horizontally */
}

.center-img {
  width: 400px; /* Adjust the width and subtract margin */
  height: 500px;
  margin: 10px; /* Add margin for spacing */
  animation: popUp 0.5s ease-in-out; /* Add a pop-up animation */


}

/* Display images in a column on mobile */
@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .center-img {
    width: 80%; /* Adjust the width as needed for mobile */
    margin: 10px; /* Add margin for spacing */
  }
}

.center-img:hover {
  transform: scale(1.1); 
}

@keyframes popUp {
  0% {
    transform: scale(0.5); /* Start small */
    opacity: 0; /* Initially hidden */
  }
  100% {
    transform: scale(1); /* Pop up to full size */
    opacity: 1; /* Fully visible */
  }
}

.cursor-style {
  background-image: url("/src/images/burger.png");
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
}